html {
    height: 100%;
}
body {
    display: flex;
    flex-flow: column;
    height: 100%;
}


.navbar {
    background-color: rgb(188, 202, 209);
    box-shadow: 0px 3px 14px 2px rgb(0, 0, 0, 0.4);
    flex: 0 1 auto;
}
.main {
    background-color: rgb(235, 235, 235);
    flex: 1;
}
.box {
    border: 1px solid rgba(189, 189, 189, 0.727);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.project-card {
    width: 50%
}