{% extends "articles/base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block content %}
<div class="content box container p-3 m-3">

    {{ article.id|json_script:"article_id" }}
    {{ article.title|json_script:"article_title"}}
    {{ request.user.is_authenticated|json_script:"user_is_authenticated" }}
    <div id="likeshare" class="row"></div>

    <hr>
    {{ article.display_content|safe }}
    <hr>
    {% if article.video %}
        {% video article.video '620x360' %}
    {% endif %}

</div>

<div class="comments box container p-3 m-3">
    <h2> Comments </h2>
    <div class="container py-3">
    <!--
        {% if request.user.is_authenticated %}
            <form method="POST" id="comment-form">
                {% csrf_token %}

                <div class="form-group mb-3">
                    {{ form.text }}
                </div>
                <div class="mb-3">
                    <input class="btn btn-outline-primary" type="submit" value="Comment">
                </div>
            </form>
        {% else %}
            <p>You must be logged in to comment.</p>
        {% endif %}
        -->
    </div>


    <div id="comments">
    </div>
    <!--
     <div class='list-group'>

    </div>
    -->
</div>
{% endblock %}


{% block css %}
<link href="{% static 'css/article.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="{% static 'index-bundle.js' %}"></script>

{% endblock %}