{% extends "articles/base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block content %}
<div class="content box container p-3 m-3">
    <div class="row">
        <div class="col-md-9">
            <h1>{{ article.title }}</h1>
        </div>
        <div class="col">

            <button class="btn btn-outline-light border" id="like-button" {% if request.user.is_authenticated is not True %} disabled {% endif %}>
                <span id="like-text">Like&nbsp&nbsp&nbsp&nbsp</span>
                <i class="far fa-heart pull-right" id="like-icon"></i>
            </button>


        </div>
        <div class="col">
            <h4><span class="badge bg-danger" id="likes">{{ article.get_likes }} Likes</span></h4>
        </div>
        {{ is_liked|json_script:"is_liked" }}
        {{ article.get_likes|json_script:"likes_amount" }}
        {{ article.id|json_script:"article_id" }}

    </div>

    <hr>
    {{ article.display_content|safe }}
    <hr>
    {% if article.video %}
        {% video article.video '620x360' %}
    {% endif %}

</div>

<div class="comments box container p-3 m-3">
    <h2> Comments </h2>
    <div class="container py-3">
    <!--
        {% if request.user.is_authenticated %}
            <form method="POST" id="comment-form">
                {% csrf_token %}

                <div class="form-group mb-3">
                    {{ form.text }}
                </div>
                <div class="mb-3">
                    <input class="btn btn-outline-primary" type="submit" value="Comment">
                </div>
            </form>
        {% else %}
            <p>You must be logged in to comment.</p>
        {% endif %}
        -->
    </div>


    <div id="comments" class='list-group'>
    </div>
    <!--
     <div class='list-group'>

    </div>
    -->
</div>
{% endblock %}


{% block css %}
<link href="{% static 'css/article.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="{% static 'js/article.js' %}"></script>
<script src="{% static 'index-bundle.js' %}"></script>

{% endblock %}