{% extends "base.html" %}

{% block content %}
<h2>Articles</h2>
<hr>
<div class="row" data-masonry='{"percentPosition": true }'>
    {% for article in articles_list %}
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ article }}</h5>
                    <p class="card-text">{{ article.display_content|safe }}</p>
                    <a href="{% url 'article' article.id %}" class="btn btn-outline-primary">Go to article</a>

                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated {{ article.get_age }}</small>
                </div>

            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
{% block js %}
    <script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
{% endblock %}